/* src/components/Login.css */
.login-container {
    height: 100vh;
  }
  
  .left-panel {
    background-color: #007bff;
    color: white;
    flex: 1;
    padding: 20px;
    text-align: center;
  }
  
  .right-panel {
    flex: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  form {
    width: 33.33%; /* Set the form width to 1/3 of the right panel */
  }